* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .contact-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1d36;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  form h2 {
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .labels {
    color: white;
    font-size: 1.2rem;
    margin-top: 15px;
  }
  .form-control {
    border-radius: 10px;
    width: 500px;
    padding: 8px;
    height: 35px;
    border: 0;
    outline: none;
    font-size: 0.9rem;
    margin-top: 3px;
    margin: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  #textarea {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    outline: none;
    height: 45px;
    font-size: 1.1rem;
    margin-top: 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  #btn {
    width: 120px;
    font-size: 1rem;
    height: 38px;
    margin: 15px auto;
    cursor: pointer;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    background-color: #ff0075;
    color: aliceblue;
  }
  
  #btn:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  @media screen and (max-width: 550px) {
    .contact-container {
      height: 90vh;
    }
    .form-control {
      width: 400px;
    }
  }
  
  @media screen and (max-width: 450px) {
    .form-control {
      width: 270px;
    }
  }
  